@import "tailwindcss";
.sidebar-link {
  @apply flex items-center justify-between w-full px-4 py-3 rounded-lg
         text-gray-800 hover:bg-blue-50 hover:text-blue-800
         transition font-medium;
}


